<html>
	<head></head>
	<body>
		<table>
			<tr>
				<% (size.to_i).times do |i| %>
				<th>
					<%= (size.to_i - i - 1) %>
				</th>
				<%end %>
				<th>AND</th>
				<th>OR</th>
				<th>XOR</th>
			</tr>
			<% table.each do |i| %>
		<tr>
			<% i.each do |j| %>
				<% if j %>
					<td><%= trueSym %></td>
				<% else %>
					<td><%= falseSym %></td>
				<% end %>
			<% end %>
		</tr>
			<% end %>
		</table><br>
		<a href ="/">Back to main page</a>
	</body>
</html>		